{%- include 'header.html' %}
<body>
<div>
    <h1>Hello World</h1>
    <p>
      <ul>
	<li>Container: <strong>{{ hostname }}</strong></li>
      {%- if image %}
      <br />
      <img src="{{ image.urls.small }}" />
      <br />
      <p>Photo by <a href="{{ image.user.links.html }}">{{ image.user.name }}</a> on <a href="https://unsplash.com/">Unsplash</a></p>
      {%- endif %}
    </p>
</div>
</body>
</html>
